body {
	background-color: beige;
	margin: 0;
	padding: 0;
}
h1 {
	color: black;
	font-family: Helvetica;
	text-align: center
}

#box {
	background-color: gray;
	padding: 10px, 10px, 10px, 10px;
	border: 3px solid black;
	margin: 40px;

}

#content {
	color: black;
	font-family: helvetica;
}
.finibus {
	color: black;
	font-family: helvetica;
}

.malorum {
	color: black;
	font-family: helvetica;
}

.lorem {
	color: black;
	font-family: helvetica;
}

/* Large devices */
@media (min-width: 1200px) {

}
/* Medium devices */
@media (min-width: 950px) and (max-width: 1199px) {

}

/*Small devices */
@media ()