body {
	background-color: gray;
	margin: 0;
	padding: 0;
}
h1 {
	color: black;
	font-family: helvetica;
}



#box {
	background-color: beige;
	padding: 10px, 10px, 10px, 10px;
	border: 2px solid black;
	margin: 20px;

}

#content {
	color: black;
	font-family: helvetica;
	font-size: 25%;
}

.finibus {
	color: black;
	font-family: helvetica;
	font-size: 75%;
}


.malorum {
	color: black;
	font-family: helvetica;
	font-size: 75%;
}

.lorem {
	color: black;
	font-family: helvetica;
	font-size: 75%;
}

/* Large devices */
@media (min-width: 1200px) {

}
/* Medium devices */
@media (min-width: 950px) and (max-width: 1199px) {

}

/*Small devices */
@media ()